/* CSS-reset */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    list-style: none;
}

/* WRAPPER */
body {
    font-family: 'Bariol', sans-serif;
    /* Het scherm wordt altijd gevuld (viewheight) */
    height: 100dvh;
}

/* NAV */
.nav-bar {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #172F3B;
    z-index: 10;

    ul {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        padding: 1.1rem;

        li a {
            display: grid;
            justify-items: center;
            align-items: center;
        }
    }
}

/* HEADER */
.mindmap-name {
    background-color: #172F3B;
    width: 100dvw;
    padding: 0.7rem ;
    text-align: center;
    -webkit-text-fill-color: #FFFFFF;
    font-size: 1.1rem;
}

/* MAIN */
.group-name {
    display: grid;
    grid-template-columns: auto 1fr auto;
    align-items: center;
    padding: 1.5rem;
    gap: 0.5rem;
}

#group-title {
    font-size: 1.8rem;
    text-shadow: rgba(0, 0, 0, 0.15) 0px 3px 5px;
}

#filter {
    background-color: #ffffff;
    border-radius: 0.5rem;
    box-shadow: 3px 5px 11px #888888;
    width: 3rem;
    height: auto;
}

.photo-container {
    display: grid;
    grid-template-columns:repeat(auto-fit, minmax(170px, 1fr));
    gap: 1.5rem;
    padding: 1rem;
    padding-bottom: 7rem;


    img {
        /* Foto's even breed als de grid van photo-container */
        width: 100%;
        display: block; /* moest van sanne */
        aspect-ratio: 1 / 1;
        border-radius: 1.3rem;
        object-fit: cover;
        box-shadow: rgb(0 0 0 / 0.24) 0px 3px 8px;
        transition: 0.3s ;

        &:hover {
            transform: rotate(2deg) scale(1.1);
            box-shadow: rgba(0 0 0 / 0.35) 0px 5px 15px;    
        }
    }
}

footer {
    display: none;
}